/* close where selector: https://ant.design/docs/react/compatible-style-cn */
/* Table to Tonic UI ^_^ */
:where(.css-dev-only-do-not-override-1l4oyc1).ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before, :where(.css-dev-only-do-not-override-1l4oyc1).ant-table-wrapper .ant-table-thead>tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    width: 0;
}

:where(.css-dev-only-do-not-override-1l4oyc1).ant-table-wrapper .ant-table-thead>tr>th, :where(.css-dev-only-do-not-override-1l4oyc1).ant-table-wrapper .ant-table-thead>tr>td {
    background: transparent;
}

:where(.css-dev-only-do-not-override-1l4oyc1).ant-table-wrapper .ant-table-thead>tr>th, :where(.css-dev-only-do-not-override-1l4oyc1).ant-table-wrapper .ant-table-tbody>tr>td, :where(.css-dev-only-do-not-override-1l4oyc1).ant-table-wrapper tfoot>tr>th, :where(.css-dev-only-do-not-override-1l4oyc1).ant-table-wrapper tfoot>tr>td{
    padding: 8px 12px;
    line-height: 20px;
}

:where(.css-dev-only-do-not-override-1l4oyc1).ant-table-wrapper .ant-table-tbody >tr >td{
    border-bottom: 1px solid #424242;
}
:where(.css-dev-only-do-not-override-1l4oyc1).ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-1l4oyc1).ant-table-wrapper .ant-table-thead >tr>td{
    border-bottom: 2px solid #424242;
}