body {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(21, 21, 21);
    color: rgba(255, 255, 255, 0.92);
}

a {
    color: #6f9bf4;
    text-decoration: none;
}

.a:visited {
    color: #AB6FF3;
    text-decoration: underline;
}

a:hover {
    color: #535bf2;
    text-decoration: underline;
}